@import "../login/login.component";

.fa-arrow-circle-left:hover{
  color: #9053c7;
  cursor: pointer;
}

.wrap-input50 {
  position: relative;
  width: 48%;
  z-index: 1;
  margin-bottom: 10px;
}


.focus-input50 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}
.input100:focus + .focus-input50 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}


.login100-form {
  width: 100% !important;
  display: contents;
}
