@import "../users/users.component";
@import "../../auth/login/login.component";


.margin-setter {
  margin-top: 45%;
  font-size: 25px;
  color: #6c757d9e;
}


.input80 {
  font-family: Poppins-Medium, serif;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 75%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 40px;
}

.login20-form-btn {
  font-family: Montserrat-Bold, serif;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  margin-left: 4%;
  width: 20%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login20-form-btn:disabled {
  background: #57b84687;
  cursor: not-allowed;
}

.sender, .receiver{
  padding: 10px;
  border-radius: 20px;
}

.sender{
  color: #fff;
  background-color: #9c9c9c;
  float: right;
}

.receiver {
  color: #fff;
  background-color: #57b846;
}

.display-time{
  color: #c1c1c1;
}

.message-display{
  display: contents;
  max-width: 300px;
}

.sender-display{
  float: right;
  margin: 5px 0;
}


.display-block{
  display:block;
}

.display-grid{
  display: inline-grid
}

.display-window{

  display: flow-root;
}
.receiver-display{
  float: left;
  margin: 5px 0;
}

.receiver-display-time {
  margin: 10px 0 0 0;
}

.fixed-height-1 {
  max-height: 400px;
  padding: 10px;
  height: 400px;
  overflow: scroll;
}
